body {
    background-color: #efefef;
    background-image: url("https://uploads-ssl.webflow.com/62df9b11d1d3f86d3dacc2e3/6310e8303d0620372b7010a8_noize.png");
    color: #333;
    font-family: 'Manrope', sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    margin: 0;
    padding: 5%;
    position: relative;
}
/* Theme options */
.orange {
    color: #e45426;
}
.orange-bg {
    background: #e45426;
}
.gray {
    color: #787878;
}
.yellow {
    color: #ffbb33;
}
.yellow-bg {
    background-color: #ffbb33;
}
.display {
    font-family: 'Yeseva One', cursive;
}
.padding-s{
    padding: 5%;
}
.padding-m{
    padding: 10%;
}
/* */
.icon {
    height: 40px;
    width: 40px;
    border-radius: 100%;
    border: #333333 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
}



/* Search */
.search-bar {
    background-color: rgba(250, 250, 250, 0.8);
    margin: 0 auto;
    max-width: 800px;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.search-box {
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 10px;
    width: 100%;
}

.search-button {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 10px;
    margin-left: 10px;
}

/* Main body */
table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    margin-bottom: 20px;
}
td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
thead tr {
    background-color: #f2f2f2;
    text-align: left;

}
tr:hover {
    background-color: #f5f5f5;
}

.contacts {
    background-color: #fff;
    margin: 40px auto;
    max-width: 800px;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    display: flex;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.delete-button {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 100%;
    margin-right: 10px;
}

/* Pagination */
.pagination-wrapper {
    background-color: rgba(250, 250, 250, 0.8);
    margin: 40px auto 0px auto;
    max-width: 800px;
    padding: 5px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.pagination-button {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
}

.pagination-input {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    width: 10px;
    height: 1ch;
    text-align: center;
}

/* Decorations */
.decoration{
    width: 200px;
    height: 300px;
    position: absolute;
    z-index: -1;
    border-radius: 100%;
    top: 0;
    right: 0;
    filter: blur(150px);
}
.opposite-side {
    top: auto;
    right: auto;
    bottom: 0;
}