body {
    background-color: #efefef;
    background-image: url("https://uploads-ssl.webflow.com/62df9b11d1d3f86d3dacc2e3/6310e8303d0620372b7010a8_noize.png");
    color: #333;
    font-family: 'Manrope', sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    margin: 0;
    padding: 5%;
    position: relative;
}
/* This removes the arrows from the number input */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
    /* Firefox */
    input[type=number] {
        -moz-appearance: textfield;
    }

/* Theme options */
.orange {
    color: #e45426;
}
.orange-bg {
    background: #e45426;
}
.gray {
    color: #787878;
}
.yellow {
    color: #ffbb33;
}
.yellow-bg {
    background-color: #ffbb33;
}
.display {
    font-family: 'Yeseva One', cursive;
}
.padding-s{
    padding: 5%;
}
.padding-m{
    padding: 10%;
}
.ml-10{
    margin-left: 10px;
}
.button {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 10px;
}
.button:hover {
    background-color: #ffbb33;
    color: #fff;
}
.main-button{
    background-color: #e45426;
    border: 1px solid #e45426;
    border-radius: 50vw;
    color: #fff;
    font-family: 'Manrope', sans-serif;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 10px 20px;
    text-transform: uppercase;
}
.main-button:hover {
    background-color: #fff;
    color: #e45426;
}

/**/
.title-small {
    font-weight: 700;
    line-height: 1.1;
    margin-bottom: 0.5em;
    margin-top: 0;
    text-align: center;
}
.icon {
    height: 40px;
    width: 40px;
    border-radius: 100%;
    border: #333333 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Search */
.search-bar {

    margin: 0 auto;
    max-width: 600px;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    justify-content: center;

}

.search-box {
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 10px;
    width: 100%;
}

.search-button {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 10px;
    margin-left: 10px;
}

/* Main body */
table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    margin-bottom: 20px;
}
th {
    text-align: left;
    padding: 8px;
}
td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
thead tr {
    background-color: #f2f2f2;
}
tr:hover {
    background-color: #f5f5f5;
}

.contacts-wrapper {
    background-color: #fff;
    margin: 40px auto;
    max-width: 800px;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    display: flex;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.no-contacts {
    text-align: center;
    padding: 20px;
    display: none;
}
.delete-button {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 50vw;
    height: 3ch;
    width: 3ch;
    margin-right: 10px;
}
.delete-button:hover {
    background-color: #ffbb33;
    color: #fff;
}

/* Pagination */
.pagination-wrapper {
    background-color: rgba(250, 250, 250, 0.8);
    margin: 40px auto 0 auto;
    width: 300px;
    padding: 5px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-content: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.pagination-button {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
}

.pagination-input {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    width: 10px;
    height: 1ch;
    text-align: center;
}

/* Decorations */
.decoration{
    width: 200px;
    height: 300px;
    position: absolute;
    z-index: -1;
    border-radius: 100%;
    top: 0;
    right: 0;
    filter: blur(150px);
}
.opposite-side {
    top: auto;
    right: auto;
    bottom: 0;
}
.spiral {
    position: absolute;
    z-index: -1;
    top: 0;
    width: 80vw;
}

/* Popup add contact */
.form-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none; /* Hide form by default, then turn to flex */
    justify-content: center;
    align-items: center;
    z-index: 100;

}
.form-container {
    background-color: #fff;
    border-radius: 10px;
    position: relative;
    padding: 20px;
    width: 400px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.form-header {
    font-size: 1.5em;
    font-weight: 700;
    margin-bottom: 1em;
}
.form-title {
    font-size: 1.5em;
    font-weight: 700;
    margin-bottom: 1em;
}
.form-close-button {
    position: absolute;
    top: 0.5em;
    right: 0.5em;
    cursor: pointer;
}
.form-content {
    margin-bottom: 1em;
}
.form-row {
    margin-bottom: 1em;
    display: grid;
}
.form-half-rows {
    display: flex;
    justify-content: space-between;
}
.form-label {
    display: block;
    margin-bottom: 0.5em;
}
.form-input {
    padding: 0.8em 0.5em;
    border: 1px solid #ccc;
    border-radius: 10px;
}
.form-input:focus {
    outline: none;
    border-color: #333;
}
.form-footer {
    display: flex;
    justify-content: flex-end;
}
.error-message {
    color: #ff0000;
    font-size: 0.8em;
    margin-top: 0.5em;
    display: none;
}
/* Popup delete */
.delete-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none; /* Hide form by default, then turn to flex */
    justify-content: center;
    align-items: center;
    z-index: 100;
}

/* Animations */
.shake {
    animation: shake 200ms;
    animation-iteration-count: 1;
}
@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.fade-up {
    animation: fade-up 500ms;
    animation-iteration-count: 1;
}

@keyframes fade-up {
    0% { opacity: 0; transform: translateY(10px); }
    100% { opacity: 1; transform: translateY(0); }
}